<!DOCTYPE html>
<html>
	<body>

		<form action="/result_query" method="POST">
			Search by Food Name:<br>
			<input type="text" name="query">
			<br>
			<input type="submit" name="form", value="Send">
		</form>
		<br><br>
		<form action="/result_nutrition" method="POST">
			Search by ID:<br>
			<input type="number" name="query2">
			<br>
			<input type="submit" name="form2", value="Send">
		</form>
		<br><br>
		<form action="/add" method="POST">
			Insert Food Item:<br>
			<br><label>Food</label><br>
			<input type = "text" name="Food" ><br>
			<br><label>Company</label><br>
			<input type = "text" name="Company" ><br>
			<br><label>Calories</label><br>
			<input type = "text" name="Calories"><br>
			<br><label>Sodium</label><br>
			<input type = "text" name="Sodium" ><br>
			<br><label>Total Fat</label><br>
			<input type = "text" name="Total_Fat" ><br>
			<br><label>Potassium</label><br>
			<input type = "text" name="Potassium" ><br>
			<br><label>Saturated</label><br>
			<input type = "text" name="Saturated" ><br>
			<br><label>Total Carbs</label><br>
			<input type = "text" name="Total_Carbs" ><br>
			<br><label>Polyunsaturated</label><br>
			<input type = "text" name="Polyunsaturated"><br>
			<br><label>Dietary Fiber</label><br>
			<input type = "text" name="Dietary_Fiber" ><br>
			<br><label>Monounsaturated</label><br>
			<input type = "text" name="Monounsaturated"><br>
			<br><label>Sugars</label><br>
			<input type = "text" name="Sugars" ><br>
			<br><label>Trans</label><br>
			<input type = "text" name="Trans" ><br>
			<br><label>Protein</label><br>
			<input type = "text" name="Protein" ><br>
			<br><label>Cholesterol</label><br>
			<input type = "text" name="Cholesterol"><br>
			<br><label>Vitamin A</label><br>
			<input type = "text" name="Vitamin_A"><br>
			<br><label>Calcium</label><br>
			<input type = "text" name="Calcium" ><br>
			<br><label>Vitamin C</label><br>
			<input type = "text" name="Vitamin_C"><br>
			<br><label>Iron</label><br>
			<input type = "text" name="Iron" ><br>
			<br>
			<input type="submit" name="add_food", value="Send">
		</form>
	</body>
</html>